<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name='viewport' content="width=device-width, initial-scale=1"  />
   
     <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} page</title>
   
  </head>
  <body>
    <div id="content" class="flex justify-center gap-[50px] items-center flex-col"  >{% block content %}{% endblock %}</div>
    <div id="footer" class="fixed bottom-0 " >
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>